.parent {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.parent>* {
  border: 1px solid white;
}

.rowOne {
  text-align: center;
  display: flex;
  

}
.rowOne >* {
  border: 1px solid green;
  margin: 0;
  padding: 0;
}
.rowTwo {
  display: flex;
}